<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	
	<context:component-scan
		base-package="com.green.ex1"></context:component-scan>
	
	<!-- 어드바이스 동록 -->
	<bean id="track" class="com.green.ex1.TrackOperation"></bean>
	
	<aop:config>
	
		<aop:pointcut id="ex1Pointcut" expression="execution(* com.green.ex1.Operation.*(..))"/>
		
		<aop:aspect ref="track">
		
		<!-- 
			<aop:before pointcut-ref="ex1Pointcut" method="myadvice"></aop:before>
			<aop:after pointcut-ref="ex1Pointcut" method="myadvice2"></aop:after>
		 -->		
			<aop:around pointcut-ref="ex1Pointcut" method="aroundAdvice"></aop:around>
			
		</aop:aspect>
		
	</aop:config>

</beans>
